body { 
    display: flex;
    flex-direction: column;
    background-color: #0f4d92; 
    font-family: "Titillium Web", Arial, sans-serif;
    font-size: 20px;
}

/*CONTAINER STYLE*/
.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2vw;
    margin-top: 2vw;
}

.container2 {   
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

.container3 {
    display: flex;
    justify-content: center;
}

.speakbutton {
    color: #0f4d92;
    font-size: 20px;
    background-color: #ffffff;
    font-family: "Titillium Web", Arial, sans-serif;
    height: 50;
    width: 100;
    border: 1px solid #ffffff;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-transition: all 0.2s ease-in;
}

.speakbutton:hover {
    background-color: #0f4d92;
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-transition: all 0.2s ease-in;
}

/*INPUT STYLE*/
input {
    background-color: #0f4d92;
    border: 0;
    color: #0f4d92;
    font-family: "Titillium Web";
    font-size: 20px;
    width: 0px;
    margin: 0;
}

/*BUTTON STYLE*/
.btn {
    background-color: #ffffff;
    border: 0px solid #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.35s ease-in;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
}

.btn-sonar::before {
    content: '';
    display: block; 
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    border-radius: 50%;
    margin-left: -0.42vw;
    margin-top: -0.75vw;
    -webkit-animation: sonar-effect 1s ease-in-out .1s infinite;
    animation: sonar-effect 1s ease-in-out .1s infinite;  
}

/*RESPONSE STYLE*/
.spoken-response {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}
.spoken-response.is-active {
    max-height: 600px;
    -webkit-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
}
.spoken-response__text {
    margin: 0 0;
    font-size: 30px;
    color: #FFFFFF;	
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    background-color: #0f4d92; 
    border: 0px solid #ffffff; 
    padding: 1em; 
    border-radius: 25px; 
}

/*SONAR EFFECT STYLE*/
@-webkit-keyframes sonar-effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 10px 10px #FFFFFF, 0 0 0 10px #FFFFFF;
  }
  100% {
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 10px 10px #FFFFFF, 0 0 0 10px #FFFFFF;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}
@keyframes sonar-effect {
  0% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 10px 10px #FFFFFF, 0 0 0 10px #FFFFFF;
  }
  100% {
    box-shadow: 0 0 0 5px #FFFFFF, 0 0 10px 10px #FFFFFF, 0 0 0 10px #FFFFFF;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 0;
  }
}

LISTENING STYLE
.listening {overflow:hidden; padding-left: 1em; padding-right: 1em; width: 700px}
.listening span{color:#FFFFFF; font-size: 30px; margin:0 40px 0 0; float: left; padding-top: 0.8em}
